@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

#navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    color: white;
}

#navbar .navbar {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

#navbar .navbar .logo {
    height: 50px;
    width: auto;
}

#navbar .navbar ul {
    display: flex;
    list-style: none;
    font-weight: bold;
}

#navbar .navbar ul li {
    padding: 0px 20px;
}

#navbar .navbar ul li:nth-child(3) {
    border-right: 1px solid white;
}

.showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url('./img/showcase.webp');
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: color;
}

.showcase .showcase-itens {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showcase .showcase-itens h2 {
    font-size: 5rem;
}

.showcase .showcase-itens p {
    margin: 15px 0px;
    font-size: 1.1rem;
}